{% extends "humanization/humanness_layout.html" %}
{% set title = "Humanness" %}
{% set active_navbar = "humanness" %}


{% block header %}
  <div id="header" style="background-position: center 50%">
    <div class="container">
      <h1 class="display-1 fw-lighter">Humanness report</h1>
    </div>
  </div>
{% endblock %}

{% block main %}
<p>
  Evaluate antibody humanness using peptide search in natural antibody repertoires (OASis) and germline sequence identity.
</p>
<form id="upload" method="post" class="row numbered-form g-3" enctype="multipart/form-data">
  <div class="col-md-7">
    <h4 class="numbered-header mt-2 mb-3"><span class="badge bg-primary">1</span>Input sequences</h4>
    {% include 'antibody_input_component.html' %}
  </div>
  <div class="col-md-10">
    <h4 class="numbered-header mt-2 mb-3"><span class="badge bg-primary">2</span>Humanness evaluation settings</h4>
    {% include 'numbering_component.html' %}
    {% include 'humanization/humanness_settings_component.html' %}
  </div>
  <div class="col-md-10">
    <h4 class="numbered-header mt-2 mb-3"><span class="badge bg-primary">4</span>Submit</h4>
    <p>Submit the task to the queue. Results are stored for a 24-hour period and accessible under a secret URL.</p>
    <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Submit">
  </div>
</form>

{% endblock %}



