{% if result.humanization_params %}
  {% if result.humanization_params.method == 'sapiens' %}
    Sapiens
    with {{ result.humanization_params.iterations }}
    {{ 'iteration' if result.humanization_params.iterations == 1 else 'iterations' }}
    {% if result.humanization_params.humanize_cdrs %}
      | Humanizing CDRs ({{ result.humanization_params.cdr_definition }})
    {% else %}
      | Keeping parental CDRs ({{ result.humanization_params.cdr_definition }}{% if result.humanization_params.backmutate_vernier %} + vernier{% endif %})
    {% endif %}
  {% elif result.humanization_params.method == 'cdr_grafting' %}
    {% if result.humanization_params.backmutate_vernier %}
      Vernier CDR Grafting
    {% else %}
      Straight CDR Grafting
    {% endif %}
    {% if result.humanization_params.sapiens_iterations %}
      | With Sapiens humanization pass
    {% endif %}
    |
    {% if result.humanized_humanness.vh %}
      VH Germline: {{ result.humanization_params.heavy_v_germline }}{% if result.humanized_humanness.vl %},{% endif %}
    {% endif %}
    {% if result.humanized_humanness.vl %}
      VL Germline: {{ result.humanization_params.light_v_germline }}
    {% endif %}
  {% endif %}

{% endif %}