{% extends "layout.html" %}

{% block header %}
  {% if not oasis_enabled %}
    <div class="bg-warning text-dark p-2">OASIS_DB_PATH is not configured, OASis peptide humanness evaluation will not be available.</div>
  {% endif %}
  <div id="header">
    <div class="container">
      <h1 class="display-1 fw-lighter">Welcome to BioPhi</h1>
      <div class="row mb-4" id="header-cards">
          <div class="col-sm-6 col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Humanness report</h5>
                <p class="card-text">Evaluate antibody humanness using
                  peptide search in natural antibody repertoires (OASis) and germline sequence identity.</p>
                <a href="/humanization/humanness" class="btn btn-outline-light stretched-link">Evaluate humanness</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Humanize</h5>
                <p class="card-text">Humanize an antibody using
                  deep learning on natural antibody repertoires (Sapiens) or CDR grafting.</p>
                <a href="/humanization/humanize" class="btn btn-outline-light stretched-link">Humanize antibody</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Designer</h5>
                <p class="card-text">Perform mutations on an antibody sequence while monitoring
                  sequence properties in real time.</p>
                <a href="/humanization/designer" class="btn btn-outline-light stretched-link">Mutate antibody</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block container %}
<div class="container">
  <div class="row gx-5 mb-5">
    <div class="col-lg-7 col-md-8">
      <h1 class="fs-2 fw-light mb-3">News</h1>
      <div class="list-group list-group-flush" id="news">
        {% for item in news[:5] %}
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ item.title }}</h5>
            <small>{{ item.date | naturalday }}</small>
          </div>
          <p class="mb-1">{{ item.body | safe }}</p>
        </div>
        {% endfor %}
      </div>
      <h1 class="fs-2 fw-light mb-3 mt-3">Acknowledgements</h1>
      <p>If you use BioPhi, please cite:</p>
      <p>
        <em>
          Prihoda, D., Maamary, J., Waight, A., Juan, V., Fayadat-Dilman, L., Svozil, D., & Bitton, D. A. (2021).
          BioPhi: A platform for antibody design, humanization and humanness evaluation based on natural antibody repertoires and deep learning.
          BioRxiv, 2021.08.08.455394.
          <a href="https://doi.org/10.1101/2021.08.08.455394" target="_blank">https://doi.org/10.1101/2021.08.08.455394</a>
        </em>
      </p>
      <p>BioPhi is based on antibody repertoires from the <a href="http://opig.stats.ox.ac.uk/webapps/oas/" target="_blank">Observed Antibody Space</a> database.</p>
      <p>Antibody numbering is performed using <a href="http://opig.stats.ox.ac.uk/webapps/newsabdab/sabpred/anarci/" target="_blank">ANARCI</a>
        and the <a href="https://abnumber.readthedocs.io/en/latest/" target="_blank">AbNumber package</a>.</p>
    </div>

    <div class="col-lg-5 col-md-4">
      <h1 class="fs-2 fw-light mb-3">Contributing</h1>
      <p>
        BioPhi is an open-source platform,
        please feel free to <a target="_blank" href="https://github.com/Merck/BioPhi/issues">submit a ticket</a> to report any issues or to propose new features.
      </p>
      <p>Developers are welcome to contribute directly to BioPhi code, learn more in our <a target="_blank" href="https://github.com/Merck/BioPhi/issues">GitHub repository</a>.</p>
      <p>Follow BioPhi on Twitter to get the latest news:</p>
      <a href="https://twitter.com/BioPhi?ref_src=twsrc%5Etfw" class="invisible twitter-follow-button" data-dnt="true" data-show-count="false">Follow @BioPhi</a>
      <a class="invisible twitter-timeline" data-height="600" data-dnt="true" href="https://twitter.com/BioPhi?ref_src=twsrc%5Etfw">Tweets by BioPhi</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

</div>
{% endblock %}

