/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 55px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media print {
    #dashboardMain {
        width: 90% !important;
    }
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .active.nav-link,
.sidebar .active.nav-link:hover {
    background-color: #eeeeee;
    color: black;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

main {
    padding-top: 15px;
}